root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yaml,yml}]
indent_size = 2

[*.{json,json5}]
indent_size = 2
ij_json_keep_trailing_comma = true

[*.md]
trim_trailing_whitespace = false
