name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: "Create Release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Is pre-release?
        id: is_pre_release
        run: |
          version="${GITHUB_REF#refs/tags/}"
          if [[ "${version}" =~ -.*$ ]]; then
            echo ::set-output name=IS_PRERELEASE::true
          else
            echo ::set-output name=IS_PRERELEASE::false
          fi

      - name: Release
        uses: docker://antonyurchenko/git-release:v6@sha256:b3a7d6a87981f8ed455e6b44c702e55afd95b3e628c324d7fd4f6f85728f792b
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DRAFT_RELEASE: "true"
          PRE_RELEASE: ${{ steps.is_pre_release.outputs.IS_PRERELEASE }}
          ALLOW_EMPTY_CHANGELOG: "false"
